* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.kicklogo {
  margin: 3% auto;
  width: 55%;  
}

.nav2 {
  border-top: 1px solid rgba(182, 179, 179, 0.712);
  border-bottom: 1px solid rgba(182, 179, 179, 0.712);
  font-size: 14px;
  margin-top: 3%;
  padding-top: 3%;
}

.section1 {
  background-color: #FBFBFA;
  
}

.title {
  font-size: 30px;
  margin: 2% 6%;
  font-family: Helvetica, sans-serif;
  color: #282828;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.info {
  text-align: left;
  margin: 5% 6%;
  font-size: 15px;
}